.wrapper {
  height: 7%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  .list-menu {
    padding: 10px;
    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      .logo {
        display: flex;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        p {
          text-decoration: underline;
        }
        .logo-first {
          color: #f9b90f;
          font-weight: 700;
        }
        .logo-second {
          color: #18458b;
          font-weight: 700;
        }
      }
      .link {
        margin-top: 10px;
        cursor: pointer;
        font-weight: 700;
        &:hover {
          text-decoration: underline;
        }
      }
      .li {
        display: flex;
        width: 200px;
        justify-content: space-between;
      }
      .login {
        cursor: pointer;
        background-color: #18458b;
        color: white;
        font-weight: 800;
        padding: 10px;
        border: none;
        border-radius: 20px;
      }
      .register {
        cursor: pointer;
        background-color: #f9b90f;
        color: white;
        font-weight: 800;
        padding: 10px;
        border: none;
        border-radius: 20px;
      }
      .cart {
        cursor: pointer;
        padding: 10px;
        color: black;
        background-color: white;
        border: none;
      }
    }
  }
}
.list-yard-show {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  top: 7%;
  left: 30%;
  z-index: 100;
  ul {
    flex-direction: column;
    display: flex;
    li {
      cursor: pointer;
      padding: 20px 40px;
      transition: 0.2s linear;
      border: 0.1px solid rgb(224, 224, 224);
      .link {
        color: black;
        font-weight: 800;
        text-decoration: none;
      }
    }
  }
}
.list-yard-hidden {
  display: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  top: 7%;
  left: 30%;
  z-index: 100;
  ul {
    flex-direction: column;
    display: flex;
    li {
      cursor: pointer;
      padding: 20px 40px;
      transition: 0.2s linear;
      border: 0.1px solid rgb(224, 224, 224);
      .link {
        color: black;
        font-weight: 800;
        text-decoration: none;
      }
    }
  }
}

.wrapper-fixed {
  z-index: 100;
  background-color: white;
  position: fixed;
  width: 100%;
  height: 7%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  .list-menu {
    padding: 10px;
    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      .logo {
        display: flex;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        p {
          text-decoration: underline;
        }
        .logo-first {
          color: #f9b90f;
          font-weight: 700;
        }
        .logo-second {
          color: #18458b;
          font-weight: 700;
        }
      }
      .link {
        margin-top: 10px;
        cursor: pointer;
        font-weight: 700;
        &:hover {
          text-decoration: underline;
        }
      }
      .li {
        display: flex;
        width: 200px;
        justify-content: space-between;
      }
      .login {
        cursor: pointer;
        background-color: #18458b;
        color: white;
        font-weight: 800;
        padding: 10px;
        border: none;
        border-radius: 20px;
      }
      .register {
        cursor: pointer;
        background-color: #f9b90f;
        color: white;
        font-weight: 800;
        padding: 10px;
        border: none;
        border-radius: 20px;
      }
      .cart {
        cursor: pointer;
        padding: 10px;
        color: black;
        background-color: white;
        border: none;
      }
    }
  }
}
.list-yard-show-fixed {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  top: 7%;
  left: 30%;
  z-index: 1;
  ul {
    flex-direction: column;
    display: flex;
    li {
      cursor: pointer;
      padding: 20px 40px;
      transition: 0.2s linear;
      border: 0.1px solid rgb(224, 224, 224);
      .link {
        color: black;
        font-weight: 800;
        text-decoration: none;
      }
    }
  }
}
.list-yard-hidden {
  display: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  top: 7%;
  left: 30%;
  z-index: 1;
  ul {
    flex-direction: column;
    display: flex;
    li {
      cursor: pointer;
      padding: 20px 40px;
      transition: 0.2s linear;
      border: 0.1px solid rgb(224, 224, 224);
      .link {
        color: black;
        font-weight: 800;
        text-decoration: none;
      }
    }
  }
}
.action-div {
  width: 100%;
  height: 100%;
  .btn-info {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #18458b;
    border: 1px solid #18458b;
    color: white;
    font-weight: 800;
  }
  .btn-logout {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #18458b;
    color: #18458b;
    font-weight: 800;
  }
  .btn-pay {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(184, 0, 0);
    border: 1px solid rgb(184, 0, 0);
    color: #ffffff;
    font-weight: 800;
  }
}
