.wrapper {
  padding: 10px;
  .yard {
    padding: 10px;
    .title-yard {
      text-align: center;
      font-size: 20px;
      color: #18458b;
      font-weight: 800;
    }
    .item-yard {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      background-color: white;
      display: flex;
      padding: 10px;
      .form-img {
        width: 60%;
        height: 250px;
        border-radius: 20px;
        padding: 10px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .info {
        padding: 10px;
        width: 100%;
        margin: auto;
        .price-yard {
          color: #18458b;
          background-color: #f9b90f;
          padding: 10px;
          font-weight: 900;
          text-align: center;
        }
      }
      .action-yard {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        .delete-yard {
          cursor: pointer;
          padding: 10px;
          width: 100%;
          background-color: red;
          color: white;
          font-weight: 800;
          border: none;
        }
      }
    }
  }
  .other {
    padding: 10px;
    .title-other {
      text-align: center;
      font-size: 20px;
      color: #18458b;
      font-weight: 800;
    }
    .item-other {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      background-color: white;
      display: flex;
      padding: 10px;
      .form-img {
        width: 60%;
        height: 250px;
        border-radius: 20px;
        padding: 10px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .info {
        padding: 10px;
        width: 100%;
        margin: auto;
        .price-yard {
          color: #18458b;
          background-color: #f9b90f;
          padding: 10px;
          font-weight: 900;
          text-align: center;
        }
      }
      .action {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .list-next-prev {
          margin-top: 10px;
          display: flex;
          width: 80%;
          justify-content: space-around;
          .prev {
            font-weight: 800;
            background-color: white;
            padding: 10px;
          }
          .num {
            align-items: center;
            display: flex;
            justify-content: center;
          }
          .next {
            font-weight: 800;
            background-color: white;
            padding: 10px;
          }
        }
        .delete {
          cursor: pointer;
          padding: 10px;
          width: 100%;
          background-color: red;
          color: white;
          font-weight: 800;
          border: none;
        }
      }
    }
  }
  .payment {
    padding: 30px 50px;
    margin: 20px 0px;
    font-weight: 900;
    background-color: #a91f6c;
    color: white;
    border-radius: 5px;
    border: none;
  }
}
